*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-image: url(banner-bg.jpg);
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;   
}
nav >.menu{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    font-weight: lighter;
    font-size: 14px;
}
nav > .menu h3{
    padding: 10px 15px;
    border :2px solid transparent;
}
nav >.menu >.signin{
    background-color: #ee626b;
    color: white;
    border-radius: 25px;
    padding: 10px 15px;
    border: none;
}
nav > .menu > h3:hover{
    border :2px solid orange;
    border-radius: 25px;
    background-color:#ffffff1A;
    
}
.hamburgermenu{

    /* background-color: pink; */
    padding: 15px;
    position: relative;
    display: none;
}
.hamburgermenu .fa-bars{
    font-size: 25px;
}
.hamburgermenu .submenu{
    position: absolute;
    top: 200%;
    right: 0;
    background-color: blanchedalmond;
    width: 200px;
    text-align: center;
    line-height: 40px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s linear;
    color: black;
}
.hamburgermenu:hover .submenu{
    top: 100%;
    opacity: 1;
    visibility: visible;
}
.hamburgermenu .submenu .signin{
    background-color: #ee626b;
    color: rgb(80, 69, 69);
    border-radius: 25px;
    padding: 10px 15px;
    border: none;
}
/* navbar */
/* hero-section */
.hero-section{
    background-image: url(banner-bg.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0px 40px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    padding-bottom: 80px;
}
.hero-section >.leftcard{
/* background-color: pink; */
width: 50%;
height: 60vh;
color: white;
padding-left: 70px;
position: relative;
}
.hero-section >.leftcard >h2{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.hero-section >.leftcard > h1{
    font-size: 50px;
    margin: 50px 0px;
    font-family: "Poppins", sans-serif;
}
.hero-section >.leftcard > p{
    font-size: 15px;
    margin: 30px 0px;
    font-family: "Poppins", sans-serif;
}
.hero-section >.leftcard img{
    position: absolute;
    top: 28%;
    left: 32%;
}
.hero-section >.rightcard {
    /* background-color: aqua; */
    position: relative;
}
.hero-section >.rightcard h1{
    background-color: #008af8;
    width:70px;
    border-radius: 25px;
    padding: 5px 10px;
    text-align: center;
    color: white;
    position: absolute;
    top:20px;
    left:320px;
}
.hero-section >.rightcard img{
    border-radius: 35px;
}
.hero-section >.rightcard h2{
    position: absolute;
    bottom:-20px;
    background-color: #ee626b;
    left: -30px;
    width:100px;
    height: 100px;
    border-radius:50% ;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: 35px;
}
.searchbar{
    /* border: none; */
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    width:70%;
    height:50px;
}
.searchbar>input{
    border:none;
    width:50%;
    outline: none;
    /* background-color: aquamarine; */
    margin-left: 25px;
    font-family: sans-serif;
    font-size: 15px;
    
}
.leftcard >.searchbar >.hero-search{
    width: 37%;
    height:100%;
    padding:10px;
    font-size: 20px;
    background-color: #ee626b;
    color:white;
    border-radius: 25px;
    border: none;
}
/* HEROCARDS */
.herocards{
    /* border: 2px solid black; ; */
    width: 100%;
    height: 250px;
    align-items: center; 
    display: grid;
    grid-template-columns: repeat(4,270px);
    grid-template-rows: repeat(1,250px);
    justify-content: space-evenly;
    align-content: center;
    position: relative;
    top: -100px;
}
.herocards > .herocard{
    background-color: white;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
/* gap: 10px; */
padding: 40px;
box-shadow: 0px 10px 60px grey;
font-size: 10px;
font-family:"Poppins", sans-serif ;
height: 100%;
width: 100%;
}
.herocards > .herocard img{
background-color:#008af8;
border-radius: 50%;
padding: 20px;
height: 80px;
width: 80px;
margin-bottom: 20px;
}
.herocards > .herocard img:hover{
    background-color: #ed616b;
}
/* hero cards */
/* trending cards */
.trendingames{
    /* border: 5px solid red; */
    width: 100%;
    height: 80vh;
    border-radius: 150px;
    /* background-color:#f7f7f7; */
}
.trendingames > .trendingamestitle{
    /* background-color: aqua; */
    width: 90%;
    padding: 40px 0 0 0;
    line-height: 40px;
    margin: 0 auto;
}
.trendingames > .trendingamestitle h3{
    color: #ee626b;
    font-family: "Poppins" sans-serif;
}
.trendingames > .trendingamestitle > .trendingtitlebutton{
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trendingames > .trendingamestitle > .trendingtitlebutton >.trendingbutton{
    padding:10px 20px;
     border-radius: 25px;
     background-color: #ee626b;
     color: white;
     border: none;

}

.trendingames > .trendingcards{
    /* background-color: aqua; */
    width: 100%;
    height: 70%;
    /* border-radius: 125px; */
    display: grid;
    grid-template-columns: repeat(4, 320px);
    grid-template-rows: repeat(1,350px);
    justify-content: space-evenly;
    align-content: center;
}
.trendingames .trendingcards > .trendingcard{
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    position: relative;
}
.trendingames .trendingcards > .trendingcard .price{
    background-color:#008af8;
    color: white;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    padding: 10px 15px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 13px;
}
.trendingames .trendingcards > .trendingcard img{
    width: 100%;
    height: 75%;
    border-radius: 25px;
}
.trendingames .trendingcards > .trendingcard .imgtext{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    /* background-color: #008af8; */
}
.trendingames .trendingcards > .trendingcard > .imgtext .fa-bag-shopping{
    background-color:#ee626b;
    padding: 14px;
    border-radius: 50%;
    color: white;
}
.trendingames .trendingcards > .trendingcard:hover .fa-bag-shopping{
    background-color:#008af8;
}
.trendingames .trendingcards > .trendingcard:hover > .imgtext >.left{
    color:#008af8;
}

/* trending cards */
/* topgames */
.topgames{
    width:100%;
    height: 90vh;
    /* border: 5px solid; */
    border-radius: 100px;
    background-color: #f7f7f7;
}
.topgames >.topgamesheader{
  /* background-color: #f7f7f7; */
  padding: 40px 60px 0px 60px;
  width: 100%;
  line-height: 40px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
} 
.topgames >.topgamesheader h3{
    color: #ee626b;
}

.topgames >.topgamesheader >.topgamesbutton{
    /* background-color: bisque; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    margin-top: 20px;
    /* padding: 10px 40px; */
}
.topgames >.topgamesheader >.topgamesbutton >.topgamebutton{
    padding: 10px 20px;
    border-radius: 25px;
    background-color:#ee626b ;
    border: none;
    color: white;
}
.topgames >.topgamescards{
    /* background-color: #f7f7f7; */
    /* background-color: cornflowerblue; */
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(6,200px);
    grid-template-rows: repeat(1,150px);
    justify-content: space-evenly;
    align-content: center;

    /* background-color: coral; */
}
.topgames >.topgamescards >.games-card{
    width:100%;
    height: 100%;
    /* border: 4px solid yellowgreen; */
    background-color: white;
    text-align: center;
    border-radius: 25px;
    position: relative;
}
.topgames >.topgamescards >.games-card img{
    width: 100%;
    height: 60%;
    border-radius: 25px;
}
.topgames >.topgamescards >.games-card >.gamestxt{
    padding: 15px;
}
.topgames >.topgamescards >.games-card >.gamesbutton{
    padding: 10px 25px ;
    border-radius: 25px;
    color: white;
    border: none;
    background-color: #ee626b;
    position: absolute;
    bottom:-5%;
    left: 22%;
}
.topgames >.topgamescards >.games-card:hover >.gamesbutton {
    background-color: #008af8;
}

/* topgames */
/* actions */
.actions{
    width:100%;
    height: 80vh;
    margin-top: 70px;
    /* border: 3px solid green; */

}
.actions >.actionheader{
    width: 100%;
    height: 130px;
    /* border:2px solid #008af8; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.actions >.actionheader h1{
    font-size: 35px;
}
.actions >.actionheader h3{
    font-size: 17px;
    color: #ee626b;
}
.actions >.actioncards{
    width:100%;
    height: 50vh;
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: repeat(5,250px);
    grid-template-rows: repeat(1,280px);
    justify-content: space-evenly;
    align-content: center;
    /* padding:0px 60px; */
    /* padding-bottom: 100px; */
}
.actions >.actioncards >.actioncard{
    width:100%;
    height:100%;
    /* border: 2px solid black; */
    background-color:#008af8 ;
    border-radius: 25px;
}

.actions >.actioncards >.actioncard >.acard img{
    width:100%;
    height: 70%;
    border-radius: 25px;
  
}
.actions >.actioncards >.actioncard >.acard h1{
    padding: 12px;
    text-align: center;
    color: white;
    font-size: 25px;
    border-radius: 25px;
    
}
/* actions */
/* news letter */
.newsletter{
    border: 4px solid ;
    width:100%;
    height:120vh;
    /* margin: 50px 0px; */
   position: relative;
   margin: 50px 0px;
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}
.newsletter > .midcard{
  background-image: url('./cta-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
    height: 80vh;
    width: 80vh;
    border-radius: 50px;
    position: absolute;
    top: -5%;
    left: 30%;
    z-index: -1;
}
.newsletter .lettercards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    /* background-color: pink; */
    height: 80%;
    width: 95%;
}
.newsletter .lettercards .leftcard{
    background-color:rgb(247, 247, 247);
    height: 100%;
    width: 35%;
    border-radius: 50px;
}
.newsletter .lettercards .rightcard{
    background-color:rgb(247, 247, 247);
    height: 70%;
    width: 35%;
    border-radius: 50px;
}
/* newsletter */
/* footer */
footer{
    width:100%;
    height: 130px;
    /* border: 5px solid black; */
    background-image: url(banner-bg.jpg);
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
    position: relative;
}
.footer >.copyright{
    width: 100%;
    height: 30px;
    color: white;
    /* background-color: aqua; */
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 0;
    font-size: 20px;
    
}
/* footer */