@media screen and (max-width:500px){
    nav >.menu{
    display: none;
    }
    .hamburgermenu{
        display: block;
    }
    /* navbar */
/* hero-section */
.hero-section{
    background-image: url(banner-bg.jpg);
    width: 100%;
    height: 250vh;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    /* gap: 50px; */
    align-items: center;
  
    flex-direction: column;
    overflow: hidden;
  
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
 
}
.hero-section >.leftcard{
/* background-color: pink; */
width: 110%;
height: 100vh;
color: white;
    padding-right: 70px;
text-align: center;
position: relative;
}
.hero-section >.leftcard >h2{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.hero-section >.leftcard > h1{
    font-size: 50px;
    /* margin: 50px 0px; */
    font-family: "Poppins", sans-serif;
}
.hero-section >.leftcard > p{
    font-size: 15px;
    margin: 30px 0px;
    font-family: "Poppins", sans-serif;
}
.hero-section >.leftcard img{
    position: absolute;
    top: 22%;
    left: 45%;
}
.searchbar{
    /* border: none; */
   position: relative;
   right: 20px;
   top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    width:110%;
    height:50px;
 
}
.searchbar>input{
    border:none;
    width:50%;
    outline: none;
    /* background-color: aquamarine; */
    margin-left: 25px;
    font-family: sans-serif;
    font-size: 15px;
    
}
.leftcard >.searchbar >.hero-search{
    width: 37%;
    height:100%;
    padding:10px;
    font-size: 20px;
    background-color: #ee626b;
    color:white;
    border-radius: 25px;
    border: none;
}
.hero-section >.rightcard {
    /* background-color: aqua; */
    position: relative;
}
.hero-section >.rightcard h1{
    background-color: #008af8;
    width:70px;
    border-radius: 25px;
    padding: 5px 10px;
    text-align: center;
    color: white;
    position: absolute;
    top:20px;
    left:320px;
}
.hero-section >.rightcard img{
    border-radius: 35px;
}
.hero-section >.rightcard h2{
    position: absolute;
    bottom:-20px;
    background-color: #ee626b;
    left: -30px;
    width:100px;
    height: 100px;
    border-radius:50% ;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: 35px;
}
/* hero section */
/* herocards */
.herocards{
    /* border: 2px solid black; ; */
    /* background-color: pink; */
    width: 100%;
    height: 300vh;
    align-items: center; 
    display: grid;
    grid-template-columns: repeat(1,450px);
    grid-template-rows: repeat(4,300px);
    justify-content: space-evenly;
    align-content: space-evenly;
margin: 0;
}
/* hero cards */
/* trending cards */
.trendingames{
    /* border: 5px solid red; */
    width: 100%;
    height:300vh;
    border-radius: 150px;
    /* background-color:#f7f7f7; */
    /* background-color: aqua; */
}
.trendingames > .trendingamestitle{
    /* background-color: red; */
    width: 100%;
    line-height: 40px;
padding: 55px 40px;
}
.trendingames > .trendingamestitle > .trendingtitlebutton button{
 display: none;
}
.trendingames > .trendingcards{
    /* background-color:pink; */
    width: 100%;
    height: 80%;
    /* border-radius: 125px; */
    display: grid;
    grid-template-columns: repeat(1, 450px);
    grid-template-rows: repeat(4,300px);
    justify-content: space-evenly;
    align-content: space-evenly;
}
/* trending cards */
/* topgames */
.topgames{
    width:100%;
    height: 550vh;
/* background-color: aqua; */
    border-radius: 100px;
    /* background-color: #f7f7f7; */
}
.topgames >.topgamesheader{
    /* background-color: #f7f7f7; */
    padding: 40px 60px 0px 60px;
    width: 100%;
    line-height: 40px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin-bottom: 50px;
  } 
.topgames >.topgamesheader >.topgamesbutton >.topgamebutton{
display: none;
}
.topgames >.topgamescards{
    /* background-color: #f7f7f7; */
    /* background-color: cornflowerblue; */
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(1,450px);
    grid-template-rows: repeat(6,400px);
    justify-content: space-evenly;
    align-content: space-evenly;

    /* background-color: coral; */
}
.topgames >.topgamescards >.games-card img{
    width: 100%;
    height: 75%;
    border-radius: 25px;
}
.topgames >.topgamescards >.games-card >.gamesbutton{
    padding: 10px 25px ;
    border-radius: 25px;
    color: white;
    border: none;
    background-color: #ee626b;
    position: absolute;
    bottom:-5%;
    left: 40%;
}
/* actions */
.actions{
    width:100%;
    height: 500vh;
    margin-top: 70px;
    /* border: 3px solid green; */
/* background-color: lime; */
}
.actions >.actionheader{
    width: 100%;
    height: 130px;
    /* border:2px solid #008af8; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
    text-transform: uppercase;
}
.actions >.actionheader h1{
    font-size: 35px;
}
.actions >.actionheader h3{
    font-size: 17px;
    color: #ee626b;
}
.actions >.actioncards{
    width:100%;
    height: 90%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(1,450px);
    grid-template-rows: repeat(4,400px);
    justify-content: space-evenly;
    align-content: space-evenly;
    padding:0px;

}
.actions >.actioncards >.actioncard{
    width:100%;
    height:100%;
    /* border: 2px solid black; */
    background-color:#008af8 ;
    border-radius: 25px;
}

.actions >.actioncards >.actioncard >.acard img{
    width:100%;
    height: 350px;
    border-radius: 25px;
  /* display: none; */
}
.actions >.actioncards >.actioncard >.acard h1{
    padding: 12px;
    text-align: center;
    color: white;
    font-size: 25px;
    border-radius: 25px;
    
}
/* actions */

/* news letter */
.newsletter{
    border: 4px solid ;
    width:100%;
    height:180vh;
    /* margin: 50px 0px; */
   position: relative;
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}
.newsletter > .midcard{
    display: none;
}
.newsletter .lettercards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    /* background-color: pink; */
    gap: 40px;
    height: 95%;
    width: 95%;
}
.newsletter .lettercards .leftcard{
    background-color:rgb(247, 247, 247);
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
.newsletter .lettercards .rightcard{
    background-color:rgb(247, 247, 247);
    height: 70%;
    width: 100%;
    border-radius: 50px;
}
}
/* ---------------------------------------------------------- */
/*  501px to 650px */
/* ---------------------------------------------------------- */
@media (min-width:501px) and (max-width:650px){
    nav >.menu{
    display: none;
    }
    .hamburgermenu{
        display: block;
    }
    /* navbar */
/* hero-section */
.hero-section{
    background-image: url(banner-bg.jpg);
    width: 100%;
    height: 250vh;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    /* gap: 50px; */
    align-items: center;
  
    flex-direction: column;
    overflow: hidden;
  
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
 
}
.hero-section >.leftcard{
/* background-color: pink; */
width: 110%;
height: 100vh;
color: white;
    padding-right: 70px;
text-align: center;
position: relative;
}
.hero-section >.leftcard >h2{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.hero-section >.leftcard > h1{
    font-size: 50px;
    /* margin: 50px 0px; */
    font-family: "Poppins", sans-serif;
}
.hero-section >.leftcard > p{
    font-size: 15px;
    margin: 30px 0px;
    font-family: "Poppins", sans-serif;
}
.hero-section >.leftcard img{
    position: absolute;
    top: 22%;
    left: 45%;
}
.searchbar{
    /* border: none; */
   position: relative;
   right: 20px;
   top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    width:110%;
    height:50px;
 
}
.searchbar>input{
    border:none;
    width:50%;
    outline: none;
    /* background-color: aquamarine; */
    margin-left: 25px;
    font-family: sans-serif;
    font-size: 15px;
    
}
.leftcard >.searchbar >.hero-search{
    width: 37%;
    height:100%;
    padding:10px;
    font-size: 20px;
    background-color: #ee626b;
    color:white;
    border-radius: 25px;
    border: none;
}
.hero-section >.rightcard {
    /* background-color: aqua; */
    position: relative;
}
.hero-section >.rightcard h1{
    background-color: #008af8;
    width:70px;
    border-radius: 25px;
    padding: 5px 10px;
    text-align: center;
    color: white;
    position: absolute;
    top:20px;
    left:320px;
}
.hero-section >.rightcard img{
    border-radius: 35px;
}
.hero-section >.rightcard h2{
    position: absolute;
    bottom:-20px;
    background-color: #ee626b;
    left: -30px;
    width:100px;
    height: 100px;
    border-radius:50% ;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: 35px;
}
/* hero section */
/* herocards */
.herocards{
    /* border: 2px solid black; ; */
    /* background-color: pink; */
    width: 100%;
    height: 300vh;
    align-items: center; 
    display: grid;
    grid-template-columns: repeat(1,450px);
    grid-template-rows: repeat(4,300px);
    justify-content: space-evenly;
    align-content: space-evenly;
margin: 0;
}
/* hero cards */
/* trending cards */
.trendingames{
    /* border: 5px solid red; */
    width: 100%;
    height:300vh;
    border-radius: 150px;
    /* background-color:#f7f7f7; */
    /* background-color: aqua; */
}
.trendingames > .trendingamestitle{
    /* background-color: red; */
    width: 100%;
    line-height: 40px;
padding: 55px 40px;
}
.trendingames > .trendingamestitle > .trendingtitlebutton button{
 display: none;
}
.trendingames > .trendingcards{
    /* background-color:pink; */
    width: 100%;
    height: 80%;
    /* border-radius: 125px; */
    display: grid;
    grid-template-columns: repeat(1, 450px);
    grid-template-rows: repeat(4,300px);
    justify-content: space-evenly;
    align-content: space-evenly;
}
/* trending cards */
/* topgames */
.topgames{
    width:100%;
    height: 550vh;
/* background-color: aqua; */
    border-radius: 100px;
    /* background-color: #f7f7f7; */
}
.topgames >.topgamesheader{
    /* background-color: #f7f7f7; */
    padding: 40px 60px 0px 60px;
    width: 100%;
    line-height: 40px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin-bottom: 50px;
  } 
.topgames >.topgamesheader >.topgamesbutton >.topgamebutton{
display: none;
}
.topgames >.topgamescards{
    /* background-color: #f7f7f7; */
    /* background-color: cornflowerblue; */
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(1,450px);
    grid-template-rows: repeat(6,400px);
    justify-content: space-evenly;
    align-content: space-evenly;

    /* background-color: coral; */
}
.topgames >.topgamescards >.games-card img{
    width: 100%;
    height: 75%;
    border-radius: 25px;
}
.topgames >.topgamescards >.games-card >.gamesbutton{
    padding: 10px 25px ;
    border-radius: 25px;
    color: white;
    border: none;
    background-color: #ee626b;
    position: absolute;
    bottom:-5%;
    left: 40%;
}
/* actions */
.actions{
    width:100%;
    height: 500vh;
    margin-top: 70px;
    /* border: 3px solid green; */
/* background-color: lime; */
}
.actions >.actionheader{
    width: 100%;
    height: 130px;
    /* border:2px solid #008af8; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
    text-transform: uppercase;
}
.actions >.actionheader h1{
    font-size: 35px;
}
.actions >.actionheader h3{
    font-size: 17px;
    color: #ee626b;
}
.actions >.actioncards{
    width:100%;
    height: 90%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(1,450px);
    grid-template-rows: repeat(4,400px);
    justify-content: space-evenly;
    align-content: space-evenly;
    padding:0px;

}
.actions >.actioncards >.actioncard{
    width:100%;
    height:100%;
    /* border: 2px solid black; */
    background-color:#008af8 ;
    border-radius: 25px;
}

.actions >.actioncards >.actioncard >.acard img{
    width:100%;
    height: 350px;
    border-radius: 25px;
  /* display: none; */
}
.actions >.actioncards >.actioncard >.acard h1{
    padding: 12px;
    text-align: center;
    color: white;
    font-size: 25px;
    border-radius: 25px;
    
}
/* actions */

/* news letter */
.newsletter{
    border: 4px solid ;
    width:100%;
    height:180vh;
    /* margin: 50px 0px; */
   position: relative;
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}
.newsletter > .midcard{
    display: none;
}
.newsletter .lettercards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    /* background-color: pink; */
    gap: 40px;
    height: 95%;
    width: 95%;
}
.newsletter .lettercards .leftcard{
    background-color:rgb(247, 247, 247);
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
.newsletter .lettercards .rightcard{
    background-color:rgb(247, 247, 247);
    height: 70%;
    width: 100%;
    border-radius: 50px;
}
}
